<% if @user.errors.any? %>
  <%= @user.errors.count %>errors prohibited this obj from being saved:
  <% @user.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h2>User info</h2>

        <%= form_with model: @user,url: user_path, local: true do |f| %>
        <div class="form-group">
          <%= f.label :name %><br/>
          <%= f.text_field :name %>
        </div>

         <%= f.label :Image%><br/>
          <%= f.attachment_field :profile_image %>


        <div class="form-group">
          <%= f.label :introduction %><br/>
          <%= f.text_field :introduction %>
        </div>

         <div class="actions">
          <%= f.submit "Update User" %>
         </div>
      　<% end %>
    </div>
  </div>
</div>
